<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>SoMiLaMi Foorum</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>SoMiLaMi foorum</h1>

        <p>Tervetuloa foorumiimme!</p>


        <table>
            <tr>
                <th>Aihe</th>
                <th>Viestejä yhteensä</th>
                <th>Viimeisin viesti</th>
            </tr>
            <tr th:each="aihe: ${aiheet}">
                <td> <a th:href="${'/aihe/' + aihe.id}"><span th:text="${aihe.nimi}"></span></a></td>
                <td th:text="${aihe.viesteja}"></td>	
                <td th:text="${aihe.viimViestiAika}"></td>	
            </tr>
        </table>

    </body>
</html>