<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>SoMiLaMi Foorum</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
        
        <style>
            body {
                margin: 15px;
            }
            tr, td, th {
                padding: 5px;
            }
            .superOtsikko {
                    color: rgb(57, 158, 54);
                    background-color: rgb(255, 255, 255);
                    text-shadow: rgb(46, 46, 46) 0px 1px 2px;
            }
        </style>
        
    </head>

    <body>
        <h1 class="superOtsikko">SoMiLaMi -foorum</h1>
        <h2>Viesti:  <span th:text="${otsikko}"></span></h2>
        <p><span th:text="${sisalto}"></span></p>
        <table>
            <tr style="border-bottom:1px solid #000;">
                <th>Aika</th>
                <th>Vastaaja</th>
                <th>Vastaus</th>
            </tr>
            <tr th:each="vastaus: ${vastaukset}">
                <td th:text="${vastaus.aika}"></td>
                <td th:text="${vastaus.lahettaja}"></td>
                <td th:text="${vastaus.sisalto}"></td>	
            </tr>
        </table>
        <h2>Lähetä vastaus</h2>

        <form method="POST">
            <input type="text" class="form-control" maxlength="50" placeholder="Nimimerkki" name="nimimerkki" style="width:50%;"/>
            <br></br>
            <textarea class="form-control" maxlength="255" placeholder="Kirjoita vastaus tähän." name="sisalto" rows="5" cols="50" style="width:50%;"/>
            <br></br>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-envelope"></span> Lähetä!</button>
        </form>
        <br></br>
        <br></br>
        <a th:href="${'/aihe/' + aiheid}">Takaisin aihealueelle</a>
         <br></br>
        <a th:href="${'/'}">Takaisin etusivulle</a>
    </body>
</html>
