<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>SoMiLaMi Foorum</title>
        <meta charset="utf-8" />
    </head>

    <body>
         <h1>Alue:  <span th:text="${keskustelut[0].aihealueNimi}"></span></h1>
         
        <table>
            <tr>
                <th>Otsikko</th>
                <th>Vastauksia yhteensä</th>
                <th>Viimeisin vastaus</th>
            </tr>
            <tr th:each="keskustelu: ${keskustelut}">
                <td th:text="${keskustelu.otsikko}"></td>
                <td th:text="${keskustelu.vastauksiaKpl}"></td>	
                <td th:text="${keskustelu.viimVastaus}"></td>	
            </tr>
        </table>
    </body>
</html>