<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>SoMiLaMi Foorum</title>
        <meta charset="utf-8" />
    </head>
<!--sfas-->
    <body>
        <h1>Alue:  <span th:text="${aihe}"></span></h1>

        <table>
            <tr>
                <th>Otsikko</th>
                <th>Vastauksia yhteensä</th>
                <th>Viimeisin vastaus</th>
            </tr>
            <tr th:each="keskustelu: ${keskustelut}">
                <td> <a th:href="${'/keskustelu/' + keskustelu.id}"><span th:text="${keskustelu.otsikko}"></span></a></td>
                <td> <span th:text="${keskustelu.vastauksiaKpl}"></span></td>
                <td> <span th:text="${keskustelu.viimVastaus}"></span></td>
            </tr>
        </table>

        <br></br>

        <h2>Lisää uusi keskustelunavaus:</h2>

        <form method="POST">
            <textarea maxlength="50" placeholder="Nimimerkki" name="nimimerkki" rows="1" cols="50"/>
            <br></br>
            <br></br>
            <textarea maxlength="50" placeholder="Otsikko" name="nimi" rows="1" cols="50"/>
            <br></br>
            <textarea maxlength="255" placeholder="Avaa keskustelu tähän. Älä jooko trollaa :)" name="sisalto" rows="5" cols="50"/>
            <br></br>
            <br></br>
            <input type="submit" value="Lisää!"/>
        </form>
        
        <br></br>
        <br></br>
        <a th:href="${'/'}">Takaisin etusivulle</a>        
    </body>

</html>